 <td>@</td>
<td>
	<select name="_recType" class ="input">
	</select>
</td>
<td>
	<select name="_lineType" class ="input">
	</select>
</td>
<td>
	<input name="_value" placeholder="记录值" class ="input" type="text">
</td>
<td>
	<input name="_MX" placeholder="MX优先级" class ="input" type="text" disabled>
</td>
<td>
	<input name="_ttl" placeholder="ttl" class ="input" type="text">
</td>
<td>
	<button class="button" name="MRec">确认</button>
	<button class="button" name="cancel">取消</button>
</td>
